.footer {
  background-color: $color-black;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  .call-to-action {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 1rem 4rem;
  }
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0rem auto 4rem auto;
    a {
      margin-left: 1rem;
      font-size: 3rem;
      &:hover{
        transform: scale(1.2);
      }

      i{
        color:$color-white;
      
      }
      
    }
  }
}
.social-link svg {
  fill: $color-white;
}
